* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
  }
  
  .fullscreen-container {
    background: #FBE9E7;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    padding: 70px 40px;
    border-radius: 25px;
    background: #FAFAFA;
    box-shadow: 3px 5px 25px #888888;
    width: 80%;
    max-width: 500px;
  }
  
  h1 {
    text-align: center;
    color: #B39DDB;
  }
  
  .form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  
  .input-group input {
    font-size: 1.1rem;
    padding: 8px;
    text-align: center;
    background: hsl(264, 45%, 94%, 0.7);
    color: #D1C4E9;
    border: none;
    outline: none;
    border-radius: 25px;
    width: 80%;
    margin: 0 auto;
  }
  
  input::placeholder {
    color: #D1C4E9;
    font-weight: bold;
  }
  
  .input-group input:focus {
    box-shadow: 0 0 0 2px #D1C4E9;
  }
  
  button {
    cursor: pointer;
    font-size: .9rem;
    margin: 10px auto 0;
    padding: 12px 5px;
    width: 35%;
    border-radius: 100px;
    border: none;
    outline: none;
    color: white;
    background: linear-gradient(90deg, rgba(214,109,93,1) 0%, rgba(255,149,88,1) 71%);
  }
  
  button:focus,
  button:hover {
    box-shadow: 0 0 0 2px #D1C4E9;
  }
  
  .forgot-password {
    text-align: center;
    margin: 20px auto 20px;
    text-decoration: none;
    color: #D1C4E9;
  }
  button.btn.btn-primary {
    text-align: center;
    margin-left: 30%;
}
.form-check {
    text-align: center;
}
  
  
/* //Home page design */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1515612148533-6247582c12c7?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjE4MzU4NzQ&ixlib=rb-1.2.1&q=80);
  background-size: cover;
  background-position: center;
  filter: brightness();
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.container {
  text-align: center;
  color: white;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4rem;
  font-weight: 400;
}

p {
  font-size: 1.15rem;
  letter-spacing: 3px;
  margin: 20px 0 40px;
}

.home-button {
  color: white;
  text-decoration: none;
  border: 2px white solid;
  padding: 10px 15px;
}

.home-button:hover,
.home-button:focus {
  background: hsl(0, 100%, 100%, .2);
  outline: none;
}

.section-two {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container-two {
  display: flex;
  padding: 50px;
  gap: 20px;
  width: 100%;
}

.content h1 {
  font-size: 2.75rem;
}

.content h1::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: #D1A370; 
}

.content p {
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.content-image img {
  width: 300px;
  object-fit: scale-down;
}

@media (max-width: 700px) {
  .section-two {
    height: 100%;
  }
  .container-two {
    flex-direction: column;
    height: 100%;
  }
}

footer {
  width: 100%;
  background: #212121;
  color: white;
  padding: 25px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-content {
  margin: 0 50px 0;
}

.footer-content svg {
  width: 50px;
  fill: white;
}

.footer-content h6 {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 25px;
  color: #D1A370;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-content ul {
  list-style: none;
}

.footer-content ul li {
  margin: 25px 0;
}

.footer-content ul li a {
  text-decoration: none;
  color: white;
}

.footer-content ul li a:hover,
.footer-content ul li a:focus {
  color: hsl(32, 51%, 63%, 0.7);
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }
}
  



  